@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

body{
    font-family: poppins;
    background-color: brown;
    color: white;
}

p{
   line-height: 5%;
    flex-direction: column;
    
}

h1{
    text-align: center;
    color: orange;
}

.card{
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    border-color: orange;
}

.card2{
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    border-color: orange;
    
}

.card-princ{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    
    
}

button{
    background: none;
    border:1px solid;
    border-radius: 15px;
    border-color:orange;
    
}
button a{
    text-decoration: none;
    color: orange;
}